body {
    background-color: darkslategray;
}

.navBar {
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    border: 3px #3E92CC solid;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: #3E92CC;
    background-color: transparent;
    text-decoration: underline;
  }
h1 {
    color: white;
    font-size: 50px;
    text-align: center;
}

.navNames {
    font-size: 20px;
    padding-top: 10px;
}
.houseImage {
    width: 40px;
}

.profilePictures{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.profileFlex {
    width: 30%;
    display: flex;
    justify-content: center;
}
.pictures {
    width: 70%;
}